<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
     <!-- 引入jQuery -->
    <script type="text/javascript" src="/static/bootstrap/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/jquery-latest.js"></script>
     <!-- 引入 Bootstrap -->
     <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
     <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
     <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <title>数据展示平台</title>

</head>
<body>

<!-- bootstrap 特性容器 -->
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">平台门户系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           <li><a href="./admin">后台</a></li>
{#            <li><a href="#contact">联系</a></li>#}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br/>
    <div class="container theme-showcase" style="margin-top: 60px" role="main">
            {% for k,v in urls.items %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                    <h3 class="panel-title">{{ k}}</h3>
                    <br/>
                    </div>
                    <div class="panel-body">
                        <div >
                            {% for url in v %}
                                 <a class="btn btn-success enable" style="margin:5px 9px;width: 200px" target="_blank" href="{{ url.url}}" title="{{ url.desc}}">{{ url.name}}
                                    </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</body>

</html>