{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
     <!-- 引入jQuery -->
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-1.11.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-latest.js'%}"></script>
     <!-- 引入 Bootstrap -->
     <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
     <link href="{% static 'bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css'%}">
      <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
     <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
     <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet" />
    <!-- FONT AWESOME ICONS  -->
    <link href="{% static 'assets/css/font-awesome.css'%}" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />
    <title>🐱 & 🐟</title>

</head>
<body>
<section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-left">
                            <li><a class="menu-top-active" href="#">Dashboard</a></li>
                            <li><a href="./admin">Admin</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
{% for k,v in urls.items %}
    <div class="row">
                    <div class="col-md-12">
                        <h4 class="page-head-line">{{ k}}</h4>

                    </div>

                </div>

        <div class="row">
        {% for url in v %}
             <div class="col-md-3 col-sm-3 col-xs-6">

                    <div class="dashboard-div-wrapper bk-clr-two">
                    <a class=" menu-top-active bk-clr-two" style='color:#FFFFFF;font-size:x-large' target="_blank" href="{{ url.url}}" title="{{ url.desc}}">{{ url.name}}</a>
                    </div>

            </div>
        {% endfor %}


{% endfor %}
    </div>
</div>
</div>
</body>

</html>